html {
    font-size: 70%;
}

.loaderMain {
    position: absolute;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar {
    height: 60px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 500px #C0CCF0;
}